<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict4d_16.dos.modules.pms.mapper.PmsOrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ict4d_16.dos.modules.pms.model.PmsOrderDetail">
        <id column="order_detail_id" property="orderDetailId" />
        <result column="order_id" property="orderId" />
        <result column="product_id" property="productId" />
        <result column="product_price" property="productPrice" />
        <result column="product_quantity" property="productQuantity" />
        <result column="product_total_price" property="productTotalPrice" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

</mapper>
