<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict4d_16.dos.modules.pms.mapper.PmsRecordingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ict4d_16.dos.modules.pms.model.PmsRecording">
        <id column="recording_id" property="recordingId" />
        <result column="phone" property="phone" />
        <result column="url" property="url" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
