<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict4d_16.dos.modules.pms.mapper.PmsTranslateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ict4d_16.dos.modules.pms.model.PmsTranslate">
        <id column="translate_id" property="translateId" />
        <result column="product_id" property="productId" />
        <result column="text" property="text" />
        <result column="create_time" property="createTime" />
        <result column="language" property="language" />
        <result column="category" property="category" />
    </resultMap>

</mapper>
